body{
    width: 300px;
    height: 400px;
    background-color: #8a2be2;
    font: 'Gill Sans';
    text-align: center;
    font-size: 12px;
}

.logo{
    width: 100px;
    height: 100px;
}

.title{
    color: #4b0082;
}

.developerName{
    color: #4b0082;
}

.version{
    color: #4b0082;
}

.button-container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 2px;
    padding: 0 8px;
}

.rate-button{
    background-color: #4b0082;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.github-button{
    background-color: #4b0082;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.report-a-bug-button{
    background-color: #4b0082;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.changelog-button{
    background-color: #4b0082;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


